<div class="container mt-4">
  <h2>Dance Aspirants</h2>

  <div class="input-group mb-3">
    <input type="text"
           class="form-control"
           [(ngModel)]="searchTerm"
           placeholder="Search by name..." />
    <button class="btn btn-primary"
            type="button"
            (click)="searchUsers()">
      Search
    </button>
  </div>

  <!-- Card List -->
  <div class="row">
    <div class="col-md-4" *ngFor="let user of filteredUsers">

      <!--Make a different card component-->
      <div class="card mb-4" style="width: 18rem;">
        <img *ngIf="user.profilePic" [src]="user.profilePic" class="card-img-top" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">{{ user.email }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
