<div class="container mt-4">
  <h2>Instructor List</h2>

  <div class="form-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search by title...">
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let instructor of instructors">

      <div class="card mb-4" style="width: 18rem;">
        <img *ngIf="instructor.profilePic" [src]="instructor.profilePic" class="card-img-top" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">{{ instructor.name }}</h5>
          <p class="card-text">{{ instructor.email }}</p>
          <a [routerLink]="['/set-up/instructor', instructor.id]" class="btn btn-primary">See More</a>
        </div>
      </div>
    </div>
  </div>
</div>
