<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-4">
        <div class="card-body p-4">
          <form (ngSubmit)="onSubmit()" novalidate>
            <h1>Change Your Password</h1>
            <p class="text-muted">Change Your Password</p>

            <div class="input-group mb-4">
              <input type="email" [(ngModel)]="resetViewModel.email" name="email" class="form-control" placeholder="Email address">
            </div>

            <div class="input-group mb-4">
              <input type="password" [(ngModel)]="resetViewModel.password" name="password" class="form-control" placeholder="New Password">
            </div>

            <div class="input-group mb-4">
              <input type="password" [(ngModel)]="resetViewModel.confirmPassword" name="password" class="form-control" placeholder="Confirm Password">
            </div>

            <div class="row">
              <div class="col-6">
                <button type="submit" class="btn btn-primary px-4"><i [ngClass]="{'':!isLoading, 'spinner-border spinner-border-sm':isLoading}"></i>Reset</button>
                <button type="submit" class="btn btn-light px-4"><i [ngClass]="{'':!isLoading, 'spinner-border spinner-border-sm':isLoading}"></i>Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

